.profile {
    display: flex;
    height: 100%;
}

@media (min-width: 769px) {
    .profile .content {
        position: absolute;
        text-align: justify;
        left: calc(((var(--window-width) - var(--window-width) / 7) / 6) * 1.5);
        top: 10%;
        padding-right: calc(var(--window-width) / 10);
    }
  }

  @media (max-width: 769px) {
    .profile .content {
        position: absolute;
        text-align: justify;
        left: 10%;
        top: 10%;
        padding-right: calc(var(--window-width) / 7.5);
    }
}