.progress {
    display: flex;
    height: 100%;
}

@media (min-width: 769px) {
    .progress .content {
        position: absolute;
        text-align: center;
        left: 20%;
        top: 0%;
    }
    
    .progress .progressbarbasics{
        width: 15%;
        height: 15%;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    
    .progress .progressbar1{
        left: calc(((var(--window-width) - var(--window-width) / 7) / 6) * 1.5);
        top: 15%;
    }
    
    .progress .progressbar2{
        left: calc(((var(--window-width) - var(--window-width) / 7) / 6) * 3.5);
        top: 15%;
    }
    
    .progress .progressbar3{
        left: calc(((var(--window-width) - var(--window-width) / 7) / 6) * 5.5);
        top: 15%;
    }
  }

  @media (max-width: 769px) {

    .progress .progressbars{
        width: 100%;
        height:100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 15%;
    }

    .progress .progressbarbasics{
        width: 35%;
        position: absolute;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .progress .progressbar1{
        left: 10%;
    }
    
    .progress .progressbar2{
        right: 10%;
    }
    
}