.tutor {
    display: flex;
    height: 100%;
}

@media (min-width: 769px) {
    .tutor .content {
        position: absolute;
        text-align: center;
        left: calc(var(--window-width) / 2);
        top: calc(var(--window-height) / 2);
        padding-left: calc(var(--window-width) / 70);
        animation: cssAnimation 0s ease-in 10s forwards;
    }

    .tutor .loading{
        position: absolute;
        left: calc(var(--window-width) / 2);
        top: calc(var(--window-height) / 5);
        animation: cssAnimation 0s ease-in 10s forwards;
    }

    @keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
  }

  @media (max-width: 769px) {
    .tutor .content {
        position: absolute;
        text-align: justify;
        padding-left: calc(var(--window-width) / 70);
        top: calc(var(--window-height) / 2);
        left: calc(var(--window-width) / 5);
        animation: cssAnimation 0s ease-in 10s forwards;
    }

    .tutor .loading{
        position: absolute;
        left: calc(var(--window-width) / 5);
        top: calc(var(--window-height) / 5);
        animation: cssAnimation 0s ease-in 10s forwards;
    }
    
    @keyframes cssAnimation {
        to {
            width: 0;
            height: 0;
            visibility: hidden;
        }
    }
}
